<div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item active">
                        <a class="nav-link" href="#!/home">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#!/crearCuidador">Cuidadores <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#!/crearUbicacion">Crear Ubicacion</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#!/crearShow">Crear Show</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#!/crearAnimal">Crear Animal</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#!/crearTipoAnimal">Crear Tipo Animal</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#!/crearAnimal">Crear Animal</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#!/crearAlimento">Crear Alimento</a>
                    </li>
                </ul>
            </div>

<div>
    <div class="form-group">
        <label class="control-label">Calificacion</label>
        <input class="form-control" ng-model="evaluacionShow.calificacion" id="calificacion" type="number" placeholder="Calificacion">
    </div>

    <div class="form-group">
        <label class="control-label">ID Show</label>
        <input class="form-control" ng-model="evaluacionShow.idShow" id="idShow" type="text" placeholder="ID show">
    </div>

    <div class="form-group">
        <label class="control-label">Observacion</label>
        <input class="form-control" ng-model="evaluacionShow.observacion" id="obse" type="text" placeholder="Observacion">
    </div>

    <div class="form-group">
        <label class="control-label">Fecha</label>
        <input class="form-control" ng-model="evaluacionShow.fecha" id="fecha" type="DATE" placeholder="Fecha">
    </div>

    <button class="btn btn-default" ng-if="!evaluacionShow.id" id="crearBoton" ng-click="guardarEvaluacionShow()">Crear Evaluacion Show</button>
    <button class="btn btn-default" ng-if="evaluacionShow.id" id="crearBoton" ng-click="actualizarEvaluacionShow()">Actualizar Evaluacion Show</button>
</div>
