<div> 
    <table class="table table-hover"> 
        <thead> 
        <th>Nombre</th> 
        <th>Tipo ID</th> 
        <th>Numero ID</th> 
        <th>Celular</th> 
        <th>Fecha Nacimiento</th> 
        </thead> 
        
        <tbody> 
            <tr ng-repeat="cuidador in cuidadores"> 
                <td>{{cuidador.nomCompleto}}</td> 
                <td>{{cuidador.tipoId}}</td> 
                <td>{{cuidador.numeroId}}</td> 
                <td>{{cuidador.celular}}</td> 
                <td>{{cuidador.fechaNacimiento}}</td> 
                <td> <button class="btn btn-primary" ui-sref="actualizarCuidador({id:cuidador.idCuidador})">Editar</button> 
                    <button class="btn btn-danger" ng-click="eliminar(cuidador.idCuidador)">Eliminar</button> 
                </td> 
            </tr> 
        </tbody> 
    </table> 
</div>