<div>
    <div class="form-group">
        <label class="control-label">ID Ubicacion</label>
        <input class="form-control" ng-model="ubicacion.id_ubicacion" id="idUbicacion" type="number" placeholder="ID Ubicacion">
    </div>

    <div class="form-group">
        <label class="control-label">Estado</label>
        <input class="form-control" ng-model="ubicacion.ocupado" id="estado" type="text" placeholder="Estado">
    </div>
    
    <button class="btn btn-default" ng-if="!cuidador.id" id="crearBoton" ng-click="guardarCuidador()">Crear cuidador</button>
    <button class="btn btn-default" ng-if="cuidador.id" id="crearBoton" ng-click="actualizarCuidador()">Actualizar cuidador</button>
</div>