<div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item active">
                        <a class="nav-link" href="#!/home">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#!/crearCuidador">Cuidadores <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#!/crearUbicacion">Crear Ubicacion</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#!/crearShow">Crear Show</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#!/crearAnimal">Crear Animal</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#!/crearTipoAnimal">Crear Tipo Animal</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#!/crearAnimal">Crear Animal</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#!/crearAlimento">Crear Alimento</a>
                    </li>
                </ul>
            </div>

<div>    
    <div class="form-group">
        <label class="control-label">Nombre del Cuidador</label>
        <input class="form-control" ng-model="cuidador.nomCompleto" id="nombre" type="text" placeholder="Nombre">
    </div>

    <div class="form-group">
        <label class="control-label">Tipo ID</label>
        <input class="form-control" ng-model="cuidador.tipoId" id="tipoId" type="text" placeholder="Tipo ID">
    </div>

    <div class="form-group">
        <label class="control-label">Numero ID</label>
        <input class="form-control" ng-model="cuidador.numeroId" id="numeroId" type="number" placeholder="Numero ID">
    </div>

    <div class="form-group">
        <label class="control-label">Celular</label>
        <input class="form-control" ng-model="cuidador.celular" id="celular" type="number" placeholder="Celular">
    </div>
    
    <div class="form-group">
        <label class="control-label">Fecha de Nacimiento</label>
        <input class="form-control" ng-model="cuidador.fechaNacimiento" id="fechaNacimiento" type="DATE" placeholder="Fecha de Nacimiento">
    </div>
    
    <button class="btn btn-default" ng-if="!cuidador.id" id="crearBoton" ng-click="guardarCuidador()">Crear cuidador</button>
    <button class="btn btn-default" ng-if="cuidador.id" id="crearBoton" ng-click="actualizarCuidador()">Actualizar cuidador</button>
</div>