<div>    
    <div class="form-group">
        <label class="control-label">ID Ubicacion</label>
        <input class="form-control" ng-model="show.idUbbicacion" id="idUbicacion" type="number" placeholder="ID Ubicacion">
    </div>

    <div class="form-group">
        <label class="control-label">Hora Inicio</label>
        <input class="form-control" ng-model="show.horaInicio" id="horaInicio" type="date" placeholder="Hora Inicio">
    </div>

    <div class="form-group">
        <label class="control-label">Hora Fin</label>
        <input class="form-control" ng-model="show.horaFin" id="horaFin" type="date" placeholder="Hora Fin">
    </div>

    <div class="form-group">
        <label class="control-label">Animales</label>
        <input class="form-control" ng-model="show.animales" id="animales" type="text" placeholder="Animales">
    </div>
    
    <div class="form-group">
        <label class="control-label">Nombre Show</label>
        <input class="form-control" ng-model="show.nombre" id="nombre" type="text" placeholder="nombre Show">
    </div>
    
    <button class="btn btn-default" ng-if="!cuidador.id" id="crearBoton" ng-click="guardarCuidador()">Crear cuidador</button>
    <button class="btn btn-default" ng-if="cuidador.id" id="crearBoton" ng-click="actualizarCuidador()">Actualizar cuidador</button>
</div>