<div id="tableFestivales">
    <!--striped coloca color intercalado en las tablas -->
    <table class="table table-striped">
        <thead>
        <th>Codigo Ubicacion</th>
        <th>Ocupado</th>
        </thead>

        <tbody>
            <tr ng-repeat="ubicacion in ubicaciones">
                <td>{{ubicacion.id_ubicacion}}</td>
                <td>{{ubicacion.ocupado}}</td>
                <td> <button class="btn btn-primary" ui-sref="actualizarUbicacion({id_ubicacion:ubicacion.idUbicacion})">Editar</button>
                    <button class="btn btn-danger" ng-click="eliminar(ubicacion.idUbicacion)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
