            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item active">
                        <a class="nav-link" href="#!/home">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#!/crearCuidador">Cuidadores</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#!/crearUbicacion">Crear Ubicacion</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#!/crearShow">Crear Show</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#!/crearAnimal">Crear Animal</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#!/crearTipoAnimal">Crear Tipo Animal</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#!/crearAnimal">Crear Animal</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#!/crearAlimento">Crear Alimento  <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>

<div>
    <div class="form-group">
        <label class="control-label">Tipo de Animal</label>
        <input class="form-control" ng-model="alimento.tipoAnimal" id="tipoAnimal" type="text" placeholder="Tipo Animal">
    </div>

    <div class="form-group">
        <label class="control-label">Tipo Alimento</label>
        <input class="form-control" ng-model="alimento.tipoAlimento" id="tipoAlimento" type="text" placeholder="Tipo ALIMENTO">
    </div>

    <div class="form-group">
        <label class="control-label">Hora de Alimento</label>
        <input class="form-control" ng-model="alimento.horaAlimento" id="HORAa" type="date" placeholder="Hora Alimento">
    </div>
    
    <button class="btn btn-default" ng-if="!alimento.id" id="crearBoton" ng-click="guardarAlimento()">Crear Alimento</button>
    <button class="btn btn-default" ng-if="alimento.id" id="crearBoton" ng-click="actualizarAlimento()">Actualizar Alimento</button>
</div>
