<div>    
    <div class="form-group">
        <label class="control-label">ID Tipo Animal</label>
        <input class="form-control" ng-model="tipoAnimal.idTipoAnimal" id="idTipoAnimal" type="number" placeholder="ID Tipo Animal">
    </div>

    <div class="form-group">
        <label class="control-label">Nombre Tipo Animal</label>
        <input class="form-control" ng-model="tipoAnimal.nombreAnimal" id="nombreTipoAnimal" type="text" placeholder="Nombre Tipo Animal">
    </div>
    
    <button class="btn btn-default" ng-if="!tipoAnimal.id" id="crearBoton" ng-click="guardarTipoAnimal()">Crear Tipo Animal</button>
    <button class="btn btn-default" id="crearBoton" ng-click="redirigirTipoAnimal()">Listar Tipo Animales</button>
    <button class="btn btn-default" ng-if="tipoAnimal.id" id="crearBoton" ng-click="actualizarTipoAnimal()">Actualizar Animal</button>
</div>