<div>
    <div class="form-group">
        <label class="control-label">Nombre del Animal</label>
        <input class="form-control" ng-model="animal.nombreAnimal" id="nombre" type="text" placeholder="Nombre">
    </div>

    <div class="form-group">
        <label class="control-label">Nombre Cientifico</label>
        <input class="form-control" ng-model="animal.nombreCientifico" id="CIENTIFICO" type="text" placeholder="CIENTIFICO">
    </div>

    <div class="form-group">
        <label class="control-label">Tipo Animal</label>
        <input class="form-control" ng-model="animal.idTipoAnimal" id="tipoanimal" type="number" placeholder="tipo animal">
    </div>

    <div class="form-group">
        <label class="control-label">Id Cuidador</label>
        <input class="form-control" ng-model="animal.idCuidador" id="cuidador" type="number" placeholder="Cuidador">
    </div>

    <div class="form-group">
        <label class="control-label">Especie</label>
        <input class="form-control" ng-model="animal.especie" id="especie" type="text" placeholder="Especie">
    </div>

    <div class="form-group">
        <label class="control-label">Descripcion</label>
        <input class="form-control" ng-model="animal.descripcion" id="desc" type="text" placeholder="Descripcion">
    </div>

    <button class="btn btn-default" ng-if="!animal.id" id="crearBoton" ng-click="guardarAnimal()">Crear Animal</button>
    <button class="btn btn-default" ng-if="animal.id" id="crearBoton" ng-click="actualizarAnimal()">Actualizar Animal</button>
</div>
